.cart_section {
  width: 40%;
  height: 100%;
  background-color: #2d545e;
  color: #edf7f6;
  padding-left: 10px;
  padding-right: 20px;
  position: fixed;
}

h2 {
  margin: 0;
  padding-top: 40px;
  font-size: 32px;
}

p {
  margin-bottom: 10px;
}

.single_title {
  border: dashed #edf7f6 2px;
  padding: 10px;
  border-radius: 3px;
  margin-top: 20px;
  width: 65%;
}
.item_name {
  padding-right: 80px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.quantity {
  background-color: #12343b;
  text-align: left;
}
.totalAmount {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 20px;
  padding-right: 40px;
}
input {
  border: none;
  background: transparent;
  border-bottom: #edf7f6 2px solid;
  width: 2em;
  color: #edf7f6;
  text-align: center;
  font-size: 18px;
}
.pick_list {
  overflow-y: scroll;
  max-height: 70vh;
}
h3 {
  padding-right: 150px;
}
.purchase_button {
  font-size: larger;
  font-weight: 600;
}
